################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC_SYSTEM/config
/MVC_SYSTEM/Files
/MVC_SYSTEM/JsonLog
/MVC_SYSTEM/SocsoFile
/.vs/MVC_SYSTEM/v16
/.vs/MVC_SYSTEM/v16
*.dll
.vs/MVC_SYSTEM/FileContentIndex/0b630729-d057-49aa-a97e-50c28fd0984c.vsidx
.vs/MVC_SYSTEM/FileContentIndex/1c6e1a33-2ca8-42b5-935e-e82e937b02f7.vsidx
.vs/MVC_SYSTEM/FileContentIndex/b1d69863-4a38-4140-8ce8-c2851b58bf16.vsidx
.vs/MVC_SYSTEM/FileContentIndex/b8d9542e-2450-48d3-914e-817d3f207de8.vsidx
.vs/MVC_SYSTEM/FileContentIndex/f5379581-c60b-414f-8a59-076c9c71a185.vsidx
.vs/MVC_SYSTEM/v17/.suo
.vs/MVC_SYSTEM/v17/DocumentLayout.backup.json
.vs/MVC_SYSTEM/v17/DocumentLayout.json
.vs/MVC_SYSTEM/v17/fileList.bin
.vs/MVC_SYSTEM/v17/ResourceExplorer/settings.json
MVC_SYSTEM/.vs/MVC_SYSTEM.csproj.dtbcache.json
MVC_SYSTEM/bin/Dapper.xml
MVC_SYSTEM/bin/roslyn/csc.exe
MVC_SYSTEM/bin/roslyn/csc.exe.config
MVC_SYSTEM/bin/roslyn/csc.rsp
MVC_SYSTEM/bin/roslyn/csi.exe
MVC_SYSTEM/bin/roslyn/csi.rsp
MVC_SYSTEM/bin/roslyn/Microsoft.CSharp.Core.targets
MVC_SYSTEM/bin/roslyn/Microsoft.VisualBasic.Core.targets
MVC_SYSTEM/bin/roslyn/vbc.exe
MVC_SYSTEM/bin/roslyn/vbc.exe.config
MVC_SYSTEM/bin/roslyn/vbc.rsp
MVC_SYSTEM/bin/roslyn/VBCSCompiler.exe
MVC_SYSTEM/bin/roslyn/VBCSCompiler.exe.config
MVC_SYSTEM/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.AssemblyReference.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.Up2Date
packages/Dapper.2.1.35/.signature.p7s
packages/Dapper.2.1.35/Dapper.2.1.35.nupkg
packages/Dapper.2.1.35/Dapper.png
packages/Dapper.2.1.35/lib/net461/Dapper.xml
packages/Dapper.2.1.35/lib/net5.0/Dapper.xml
packages/Dapper.2.1.35/lib/net7.0/Dapper.xml
packages/Dapper.2.1.35/lib/netstandard2.0/Dapper.xml
packages/Dapper.2.1.35/readme.md
packages/EntityFramework.6.4.4/.signature.p7s
packages/EntityFramework.6.4.4/build/EntityFramework.DefaultItems.props
packages/EntityFramework.6.4.4/build/EntityFramework.props
packages/EntityFramework.6.4.4/build/EntityFramework.targets
packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.props
packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.targets
packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.props
packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.targets
packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.props
packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.targets
packages/EntityFramework.6.4.4/content/net40/App.config.install.xdt
packages/EntityFramework.6.4.4/content/net40/App.config.transform
packages/EntityFramework.6.4.4/content/net40/Web.config.install.xdt
packages/EntityFramework.6.4.4/content/net40/Web.config.transform
packages/EntityFramework.6.4.4/EntityFramework.6.4.4.nupkg
packages/EntityFramework.6.4.4/Icon.png
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.xml
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.xml
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.xml
packages/EntityFramework.6.4.4/tools/about_EntityFramework6.help.txt
packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psd1
packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psm1
packages/EntityFramework.6.4.4/tools/EntityFramework6.psd1
packages/EntityFramework.6.4.4/tools/EntityFramework6.psm1
packages/EntityFramework.6.4.4/tools/init.ps1
packages/EntityFramework.6.4.4/tools/install.ps1
packages/EntityFramework.6.4.4/tools/net40/any/ef6.exe
packages/EntityFramework.6.4.4/tools/net40/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.exe
packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.pdb
packages/EntityFramework.6.4.4/tools/net45/any/ef6.exe
packages/EntityFramework.6.4.4/tools/net45/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.exe
packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.pdb
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
