################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC_SYSTEM/config
/MVC_SYSTEM/Files
/MVC_SYSTEM/JsonLog
/MVC_SYSTEM/SocsoFile
/.vs/MVC_SYSTEM/v16
/.vs/MVC_SYSTEM/v16
MVC_SYSTEM/bin/Dapper.dll
MVC_SYSTEM/bin/Dapper.xml
MVC_SYSTEM/bin/en/MVC_SYSTEM.resources.dll
MVC_SYSTEM/bin/id/MVC_SYSTEM.resources.dll
MVC_SYSTEM/bin/MVC_SYSTEM.dll
MVC_SYSTEM/bin/MVC_SYSTEM.dll.config
MVC_SYSTEM/bin/MVC_SYSTEM.pdb
MVC_SYSTEM/bin/roslyn/csc.exe
MVC_SYSTEM/bin/roslyn/csc.exe.config
MVC_SYSTEM/bin/roslyn/csc.rsp
MVC_SYSTEM/bin/roslyn/csi.exe
MVC_SYSTEM/bin/roslyn/csi.rsp
MVC_SYSTEM/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
MVC_SYSTEM/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
MVC_SYSTEM/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
MVC_SYSTEM/bin/roslyn/Microsoft.CodeAnalysis.dll
MVC_SYSTEM/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
MVC_SYSTEM/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
MVC_SYSTEM/bin/roslyn/Microsoft.CSharp.Core.targets
MVC_SYSTEM/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
MVC_SYSTEM/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
MVC_SYSTEM/bin/roslyn/Microsoft.VisualBasic.Core.targets
MVC_SYSTEM/bin/roslyn/System.AppContext.dll
MVC_SYSTEM/bin/roslyn/System.Collections.Immutable.dll
MVC_SYSTEM/bin/roslyn/System.Diagnostics.StackTrace.dll
MVC_SYSTEM/bin/roslyn/System.IO.FileSystem.dll
MVC_SYSTEM/bin/roslyn/System.IO.FileSystem.Primitives.dll
MVC_SYSTEM/bin/roslyn/System.Reflection.Metadata.dll
MVC_SYSTEM/bin/roslyn/vbc.exe
MVC_SYSTEM/bin/roslyn/vbc.exe.config
MVC_SYSTEM/bin/roslyn/vbc.rsp
MVC_SYSTEM/bin/roslyn/VBCSCompiler.exe
MVC_SYSTEM/bin/roslyn/VBCSCompiler.exe.config
MVC_SYSTEM/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
MVC_SYSTEM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MVC_SYSTEM/obj/Debug/edmxResourcesToEmbed/ModelsSP/MVC_SYSTEM_SP2_Models.csdl
MVC_SYSTEM/obj/Debug/edmxResourcesToEmbed/ModelsSP/MVC_SYSTEM_SP2_Models.msl
MVC_SYSTEM/obj/Debug/edmxResourcesToEmbed/ModelsSP/MVC_SYSTEM_SP2_Models.ssdl
MVC_SYSTEM/obj/Debug/en/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/id/MVC_SYSTEM.resources.dll
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResCorp.en.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResCorp.id.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResCorp.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstateDetail.en.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.App_LocalResources.GlobalResEstateDetail.resources
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.CoreCompileInputs.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.FileListAbsolute.txt
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csproj.GenerateResource.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.csprojAssemblyReference.cache
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.dll
MVC_SYSTEM/obj/Debug/MVC_SYSTEM.pdb
MVC_SYSTEM/Web.config
packages/Dapper.2.1.35/.signature.p7s
packages/Dapper.2.1.35/Dapper.2.1.35.nupkg
packages/Dapper.2.1.35/Dapper.png
packages/Dapper.2.1.35/lib/net461/Dapper.dll
packages/Dapper.2.1.35/lib/net461/Dapper.xml
packages/Dapper.2.1.35/lib/net5.0/Dapper.dll
packages/Dapper.2.1.35/lib/net5.0/Dapper.xml
packages/Dapper.2.1.35/lib/net7.0/Dapper.dll
packages/Dapper.2.1.35/lib/net7.0/Dapper.xml
packages/Dapper.2.1.35/lib/netstandard2.0/Dapper.dll
packages/Dapper.2.1.35/lib/netstandard2.0/Dapper.xml
packages/Dapper.2.1.35/readme.md
packages/EntityFramework.6.4.4/.signature.p7s
packages/EntityFramework.6.4.4/build/EntityFramework.DefaultItems.props
packages/EntityFramework.6.4.4/build/EntityFramework.props
packages/EntityFramework.6.4.4/build/EntityFramework.targets
packages/EntityFramework.6.4.4/build/Microsoft.Data.Entity.Build.Tasks.dll
packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.props
packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.targets
packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.props
packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.targets
packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.props
packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.targets
packages/EntityFramework.6.4.4/content/net40/App.config.install.xdt
packages/EntityFramework.6.4.4/content/net40/App.config.transform
packages/EntityFramework.6.4.4/content/net40/Web.config.install.xdt
packages/EntityFramework.6.4.4/content/net40/Web.config.transform
packages/EntityFramework.6.4.4/EntityFramework.6.4.4.nupkg
packages/EntityFramework.6.4.4/Icon.png
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.dll
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/net40/EntityFramework.xml
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.dll
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/net45/EntityFramework.xml
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.dll
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.dll
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.xml
packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.xml
packages/EntityFramework.6.4.4/tools/about_EntityFramework6.help.txt
packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psd1
packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psm1
packages/EntityFramework.6.4.4/tools/EntityFramework6.psd1
packages/EntityFramework.6.4.4/tools/EntityFramework6.psm1
packages/EntityFramework.6.4.4/tools/init.ps1
packages/EntityFramework.6.4.4/tools/install.ps1
packages/EntityFramework.6.4.4/tools/net40/any/ef6.exe
packages/EntityFramework.6.4.4/tools/net40/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.exe
packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.pdb
packages/EntityFramework.6.4.4/tools/net45/any/ef6.exe
packages/EntityFramework.6.4.4/tools/net45/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.exe
packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.pdb
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.dll
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.pdb
packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
